.cell-span {
  background-color: white;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333 !important;
  z-index: 2 !important;
}

html,
body,
div {
  box-sizing: border-box;
}
.cont-span {
  color: white;
}
